@{
    ViewBag.Title = "Consulta de Cartões de Crédito";
}
@using MVC.Controls
@using MVC.Controls.Grid
@model GLJ.Models.CartaoCredito.PDCartaoCredito
<div id="buscaAvancada">
    <h3>
        <a href="#">Busca Avançada</a></h3>
    <div>
        @using (Html.BeginForm("BuscarCartaoCredito", "CartaoCredito", FormMethod.Post, new { id = "formBuscarCartaoCredito", @class = "uniForm" }))
        {
            <fieldset class="inlineLabels">
                <div class="ctrlHolder">
                    @Html.LabelFor(m => m.FECartaoCredito.Nome)
                    @Html.TextBoxFor(m => m.FECartaoCredito.Nome, new { @class = "textInput" })
                    <img src='@Url.Content("~/Content/img/info_tooltip.png")' title="Informe a bandeira do Cartão de Crédito" alt="" />
                </div>
                
                <div class="buttonHolder">
                    <input type="submit" class="primaryAction" value="Buscar" />
                    <input type="reset" value="Limpar" class="primaryAction" />
                </div>
            </fieldset>
        }
    </div>
</div>
<div id="grid">
    @Html.Grid(new GridControl()
        .SetName("CartaoCreditoGrid")
        .SetPageSize(20)
        .SetIsAutoSize(true)
        .SetListUrl(Url.Content("~/CartaoCredito/Buscar"))
        .SetHeight("'100%'")
        .UseColumns(GLJ.Models.CartaoCredito.GridCartaoCreditoModel.BECartaoCreditoColumns)
        .SetAdditionalAttributes(",ondblClickRow:doubleClick")
        .UpdateDefaultPager(pager =>
            pager
                .ShowAdd(false)
                .ShowDel(false)
                .ShowEdit(false)
                .ShowView(false)
                .ShowSearch(true, true)
        ))
</div>
<div class="buttonAction">
    <p>@Html.ActionLink("Cadastrar Novo Cartão de Crédito", "CadastroCartaoCredito", null, new { @class = "primaryAction" })
    </p>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("#buscaAvancada").accordion({ collapsible: true, active: -1 });

        //Submit Form
        //Salvar Informações do Formulario
        $("#formBuscarCartaoCredito").submit(function (e) {
            e.preventDefault();
            $.post($(this).attr("action"), $(this).serialize(), function (retorno) {
                $("#CartaoCreditoGrid").jqGrid().trigger("reloadGrid")
            });
        });

    });
    function doubleClick(rowid, iRow, iCol, e) {
        window.open(url + '@Url.Content("~/CartaoCredito/CadastroCartaoCredito/")' + $("#CartaoCreditoGrid").getRowData(rowid).Codigo, "_self");
    }  
</script>