@{
    ViewBag.Title = "Acesso de Usuários";
}
<fieldset style="padding-top=15px">
<ul>
    <li>@Html.ActionLink("Consultar Grupo de Acesso", "ConsultaGrupoPermissao")</li>
    <li>@Html.ActionLink("Cadastrar Grupo de Acesso", "CadastroGrupoPermissao")</li>
    <br />
    <li>@Html.ActionLink("Consultar Usuários", "ConsultarUsuario")</li>
    <li>@Html.ActionLink("Cadastrar Usuários", "CadastroUsuario")</li>
    <br />
    <li>@Html.ActionLink("Consultar Usuários X Filial Loja", "ConsultarUsuarioFilialLoja")</li>
</ul>

</fieldset>
